<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gallery Rough Draft</title>
        <link rel="stylesheet" href="stylesheets/main.css">

    </head>

    <body>
        <header id="header">
            <a href="/" id="logo">PhotoGal</a>
            <nav id="nav-items">
              <a href="/">Home</a>
              <a href="/gallery">Gallery</a>
              <a href="/account">Account</a>
              <form action='/logout?_m=DELETE' method=POST>
                <button type="submit" class="btnSignout">Sign Out</button>
              </form>
            </nav>
        </header>

        <h1 id="gallery_name">Main Gallery</h1>
        <div id="column_container">
            <div id="left_column">
                <h1 id="album_name">Albums</h1>
                <nav id="album-items">
                    
                    <!--Album Form-->
                    <form action="/createalbum" method="post" id="album-form">
                        
                        <div class="album-input<% if (albumNameExists == true) { %> error<% } %>">
                            <p for="albumname" class="alert"><% if (albumNameExists == true) { %> Album already exists<% } %></p><br>
                            <label for="albumname">Enter new album name:</label><br>
                            <input type="text" id="albumname" name="albumname"><br>
                        </div>
                        <button type="submit" id="create_album_button"><h3>Create album</h3></button>

                    </form>

                    <div id="album_list">

                        <% if(gallery_data && gallery_data.length) { %>
                            <% gallery_data.forEach( (album) => { %>
                                <%- `<a href="#" class="album_list_item"><p>${album.albumname}</p></a>` %>
                            <% }) %>
                        <% } %>


                    </div>
                </nav>
            </div>
            <div id="right_column">
                <section id="file_upload">

                    <% if(uploadStatus == true) { %>
                        <label for="message" class="alert">Upload succesfull</label>
                    <% } %>

                    <% if (gallery_data && gallery_data.length) { %>

                        <%- '<form action="/upload" enctype="multipart/form-data" method="post">' %>

                        <%- '<input id="input-images" name="input-images" type="file" class="file" multiple="multiple" accept="image/png, image/jpg, image/jpeg, image/gif" required>' %>

                        <%- '<div id="album-select"> Album:' %>
                            <%- '<select id="album" name="album">' %>            
                            <% gallery_data.forEach( function(album) { %>
                                <%- '<option value="' + album.albumname + '">' + album.albumname + '</option>' %>
                            <% }) %>
                            <%- '</select>' %>
                        </div>

                        <%- '<button type="submit">Upload</button>' %>

                        <%- '</form>' %>
                    
                    <% } else { %>
                        <%- '<p>You don\'t have any albums yet, make one first!</p>' %>
                    <% } %>

                    <form id="queue">

                        <div class="queue">
                            <button type="submit">Remove</button>
                        </div>

                    </form>
                
                </section>
            </div>
        </div>    
        <script src="scripts/script_test.js"></script>
        <script>
            var gallery_data = '<%- JSON.stringify(gallery_data) %>'
        </script>
    </body>
    <footer>
        <ul>
            <li><a href="rough_draft.ejs.html">1</a></li>
            <li><a href="rough_draft_2.html">2</a></li>
            <li><a href="rough_draft_3.html">3</a></li>
        </ul>
    </footer>

</html>
